.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-2 {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-4 {
  font-family: 'Space Mono', monospace;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-7 {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 0.7rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #2299aa !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #2299aa !important;
  border-color: #2299aa !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #00ff00 !important;
  border-color: #00ff00 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #00a800 !important;
  border-color: #00a800 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #000000 !important;
  background-color: #00a800 !important;
  border-color: #00a800 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #2299aa;
  color: #2299aa;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #145862 !important;
  background-color: transparent!important;
  border-color: #145862 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2299aa !important;
  border-color: #2299aa !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #00ff00;
  color: #00ff00;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #00a800 !important;
  background-color: transparent!important;
  border-color: #00a800 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #00ff00 !important;
  border-color: #00ff00 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #2299aa !important;
}
.text-secondary {
  color: #00ff00 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #114c55 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #009900 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #2299aa;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2299aa;
  border-color: #2299aa;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #2299aa;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6ad2e1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Space Mono', monospace;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #2299aa !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #2299aa;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2299aa;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #2299aa;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #2299aa;
  border-bottom-color: #2299aa;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #2299aa !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #00ff00 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%232299aa' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tHrTjCVwxH {
  padding-top: 10rem;
  padding-bottom: 0rem;
  background-color: #39393b;
}
.cid-tHrTjCVwxH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHrTjCVwxH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHrTjCVwxH .mbr-text,
.cid-tHrTjCVwxH .mbr-section-btn {
  color: #00ff00;
  text-align: left;
}
.cid-tHrTjCVwxH .mbr-section-title {
  color: #fafafa;
  text-align: left;
}
.cid-tHrTjCVwxH .mbr-section-subtitle {
  color: #00ff00;
  text-align: left;
}
.cid-tHs3WC0T0L {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #39393b;
}
.cid-tHs3WC0T0L .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHs3WC0T0L .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHs3WC0T0L .video-wrapper iframe {
  width: 100%;
}
.cid-tHs3WC0T0L .mbr-section-title,
.cid-tHs3WC0T0L .mbr-section-subtitle,
.cid-tHs3WC0T0L .mbr-text {
  text-align: center;
}
.cid-tHs3WC0T0L .mbr-section-title {
  color: #fafafa;
  text-align: left;
}
.cid-tHs3WC0T0L .mbr-text {
  color: #fafafa;
  text-align: left;
}
.cid-tHW7JKyk2U {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #39393b;
}
.cid-tHW7JKyk2U .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHW7JKyk2U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tHW7JKyk2U .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tHW7JKyk2U .row {
  flex-direction: row-reverse;
}
.cid-tHW7JKyk2U img {
  width: 100%;
}
.cid-tHW7JKyk2U .mbr-description {
  color: #00ff00;
}
.cid-tHyvvCEuX6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #39393b;
}
@media (min-width: 992px) {
  .cid-tHyvvCEuX6 .carousel {
    min-height: 500px;
  }
  .cid-tHyvvCEuX6 .carousel img {
    max-height: 500px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tHyvvCEuX6 .carousel {
    min-height: 325px;
  }
  .cid-tHyvvCEuX6 .carousel img {
    max-height: 325px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-tHyvvCEuX6 .carousel {
    min-height: 275px;
  }
  .cid-tHyvvCEuX6 .carousel img {
    max-height: 275px;
    object-fit: contain;
  }
  .cid-tHyvvCEuX6 .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-tHyvvCEuX6 .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-tHyvvCEuX6 .carousel,
.cid-tHyvvCEuX6 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tHyvvCEuX6 .item-wrapper {
  width: 100%;
}
.cid-tHyvvCEuX6 .carousel-caption {
  bottom: 40px;
}
.cid-tHyvvCEuX6 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-tHyvvCEuX6 .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-tHyvvCEuX6 .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-tHyvvCEuX6 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tHyvvCEuX6 .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tHyvvCEuX6 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tHyvvCEuX6 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tHyvvCEuX6 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tHyvvCEuX6 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tHyvvCEuX6 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tHyvvCEuX6 .carousel-indicators li.active,
.cid-tHyvvCEuX6 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tHyvvCEuX6 .carousel-indicators li::after,
.cid-tHyvvCEuX6 .carousel-indicators li::before {
  content: none;
}
.cid-tHyvvCEuX6 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tHyvvCEuX6 .carousel-indicators {
    display: none !important;
  }
}
.cid-tHyvvCEuX6 P {
  text-align: center;
  color: #00ff00;
}
.cid-tHWu78pFTn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #39393b;
}
.cid-tHWu78pFTn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHWu78pFTn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tHWu78pFTn .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tHWu78pFTn .row {
  flex-direction: row-reverse;
}
.cid-tHWu78pFTn img {
  width: 100%;
}
.cid-tHWu78pFTn .mbr-description {
  color: #00ff00;
}
.cid-tHFpVsa6pv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #39393b;
}
@media (min-width: 992px) {
  .cid-tHFpVsa6pv .carousel {
    min-height: 500px;
  }
  .cid-tHFpVsa6pv .carousel img {
    max-height: 500px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tHFpVsa6pv .carousel {
    min-height: 325px;
  }
  .cid-tHFpVsa6pv .carousel img {
    max-height: 325px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-tHFpVsa6pv .carousel {
    min-height: 275px;
  }
  .cid-tHFpVsa6pv .carousel img {
    max-height: 275px;
    object-fit: contain;
  }
  .cid-tHFpVsa6pv .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-tHFpVsa6pv .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-tHFpVsa6pv .carousel,
.cid-tHFpVsa6pv .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tHFpVsa6pv .item-wrapper {
  width: 100%;
}
.cid-tHFpVsa6pv .carousel-caption {
  bottom: 40px;
}
.cid-tHFpVsa6pv .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-tHFpVsa6pv .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-tHFpVsa6pv .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-tHFpVsa6pv .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tHFpVsa6pv .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tHFpVsa6pv .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tHFpVsa6pv .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tHFpVsa6pv .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tHFpVsa6pv .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tHFpVsa6pv .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tHFpVsa6pv .carousel-indicators li.active,
.cid-tHFpVsa6pv .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tHFpVsa6pv .carousel-indicators li::after,
.cid-tHFpVsa6pv .carousel-indicators li::before {
  content: none;
}
.cid-tHFpVsa6pv .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tHFpVsa6pv .carousel-indicators {
    display: none !important;
  }
}
.cid-tHFpVsa6pv P {
  text-align: center;
  color: #00ff00;
}
.cid-tHygKcgFUa {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #39393b;
}
.cid-tHygKcgFUa img,
.cid-tHygKcgFUa .item-img {
  width: 100%;
}
.cid-tHygKcgFUa .item:focus,
.cid-tHygKcgFUa span:focus {
  outline: none;
}
.cid-tHygKcgFUa .item-wrapper {
  position: relative;
}
.cid-tHygKcgFUa .slide-content {
  position: relative;
  border-radius: 4px;
  background: #39393b;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tHygKcgFUa .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tHygKcgFUa .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tHygKcgFUa .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tHygKcgFUa .mbr-section-title {
  color: #fafafa;
  text-align: left;
}
.cid-tHygKcgFUa .mbr-text,
.cid-tHygKcgFUa .mbr-section-btn {
  text-align: center;
  color: #fafafa;
}
.cid-tHygKcgFUa .item-title {
  text-align: left;
}
.cid-tHygKcgFUa .item-subtitle {
  text-align: left;
  color: #fafafa;
}
.cid-tHygKcgFUa .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tHygKcgFUa .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tHygKcgFUa .embla__button--next,
.cid-tHygKcgFUa .embla__button--prev {
  display: flex;
}
.cid-tHygKcgFUa .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 768px) {
  .cid-tHygKcgFUa .embla__button {
    display: none;
  }
}
.cid-tHygKcgFUa .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tHygKcgFUa .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tHygKcgFUa .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tHygKcgFUa .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tHygKcgFUa .embla__button {
    top: auto;
  }
}
.cid-tHygKcgFUa .embla {
  position: relative;
  width: 100%;
}
.cid-tHygKcgFUa .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tHygKcgFUa .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tHygKcgFUa .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tHygKcgFUa .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tHygKcgFUa .mbr-section-title P {
  text-align: left;
}
.cid-tHygKcgFUa .mbr-section-subtitle {
  text-align: left;
}
.cid-tHL3ljmWQW {
  padding-top: 1rem;
  padding-bottom: 10rem;
  background-color: #39393b;
}
.cid-tHL3ljmWQW img,
.cid-tHL3ljmWQW .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHL3ljmWQW .item:focus,
.cid-tHL3ljmWQW span:focus {
  outline: none;
}
.cid-tHL3ljmWQW .item-wrapper {
  position: relative;
}
.cid-tHL3ljmWQW .slide-content {
  position: relative;
  border-radius: 4px;
  background: #39393b;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tHL3ljmWQW .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tHL3ljmWQW .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tHL3ljmWQW .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tHL3ljmWQW .mbr-section-title {
  color: #fafafa;
  text-align: left;
}
.cid-tHL3ljmWQW .mbr-text,
.cid-tHL3ljmWQW .mbr-section-btn {
  text-align: center;
  color: #fafafa;
}
.cid-tHL3ljmWQW .item-title {
  text-align: left;
}
.cid-tHL3ljmWQW .item-subtitle {
  text-align: left;
  color: #fafafa;
}
.cid-tHL3ljmWQW .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tHL3ljmWQW .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tHL3ljmWQW .embla__button--next,
.cid-tHL3ljmWQW .embla__button--prev {
  display: flex;
}
.cid-tHL3ljmWQW .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 768px) {
  .cid-tHL3ljmWQW .embla__button {
    display: none;
  }
}
.cid-tHL3ljmWQW .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tHL3ljmWQW .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tHL3ljmWQW .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tHL3ljmWQW .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tHL3ljmWQW .embla__button {
    top: auto;
  }
}
.cid-tHL3ljmWQW .embla {
  position: relative;
  width: 100%;
}
.cid-tHL3ljmWQW .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tHL3ljmWQW .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tHL3ljmWQW .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tHL3ljmWQW .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tHL3ljmWQW .mbr-section-title P {
  text-align: left;
}
.cid-tHL3ljmWQW .mbr-section-subtitle {
  text-align: left;
}
.cid-tHWW4DqZEK {
  background-color: #39393b;
}
.cid-tHWW4DqZEK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHWW4DqZEK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHWW5jNLeU {
  background-color: #39393b;
}
.cid-tHWW5jNLeU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHWW5jNLeU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHWW5EHdKz {
  background-color: #39393b;
}
.cid-tHWW5EHdKz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHWW5EHdKz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHWW45YBTV {
  background-color: #39393b;
}
.cid-tHWW45YBTV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHWW45YBTV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHWW3wKHJO {
  background-color: #39393b;
}
.cid-tHWW3wKHJO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHWW3wKHJO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHWW2VHM4y {
  background-color: #39393b;
}
.cid-tHWW2VHM4y .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHWW2VHM4y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHwOfaJy1j {
  background-color: #39393b;
}
.cid-tHwOfaJy1j .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHwOfaJy1j .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
